
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Inconsolata|Questrial');

@import url('https://fonts.googleapis.com/css?family=Crete+Round|Patua+One');

h1,
.item.brand {
  font-family: "Crete Round", serif;
}

.item.brand {
  font-size: 20pt;
}

body {
  font-family: "Questrial", serif !important;
}
img.app-image {
  width: 100%;
}
.ui.inverted.segment, .ui.primary.inverted.segment {
  background-color: #81C851;
}

div.ui.vertical.stripe.feature.segment:nth-child(odd){
  background-color: #81C851;
  color: rgba(255, 255, 255, 0.85);
}
div.ui.vertical.stripe.feature.segment:nth-child(odd) h3.ui.header{
  color: rgba(255, 255, 255, 0.95);
}
div.ui.vertical.stripe.segment{
  background-color: #FFF7EB;
  color: #736F67;
}

h3.ui.header {
  color: #484540;

}

div.ui.secondary.inverted.pointing.menu {
  border: none;
}
div.row {
  margin: 2em;
}

div.ui.text.container {
  margin-top: 2em;
  margin-bottom: 2em;
}

a.ui.large.button {
  background-color: #81C851;
  color: white;
}

a.item.active {
  border: none;
}

.ui.secondary.pointing.menu .item {
  border-bottom: none;
  font-weight: normal !important;
}
a.item.brand.mobile {
  display: none !important;
}
@media screen and (max-width: 767px) {
    a.item.brand.mobile {
        display: block !important;
        margin: auto;
        width: 100%;
    {


}
